<p style="text-align:center"><b>Nome </b></p>
<p style="text-align:center">Roxelly Tavares Gonçalves</p>
<p style="text-align:center"><b>RA </b></p>
<p style="text-align:center">0050831811029</p>

<hr />

<button (click)="updateBitcoinRates()">Atualizar</button>

<table style="width:100%">
  <tr>
    <th>Data/Hora</th>
    <th>USD</th>
    <th>BRL</th>
  </tr>
  <tr *ngFor="let rate of this.bitcoinService.list">
    <td>{{ rate.time.updated }}</td>
    <td>{{ rate.bpi.USD.rate_float }}</td>
    <td>{{ rate.bpi.BRL.rate_float }}</td>
  </tr>
</table>

{{ timerS.timeNowInMinutes }}
